[submodule "CL_isaaclab_sim"]
	path = CL_isaaclab_sim
	url = git@github.com:correlllab/CL_isaaclab_sim.git
[submodule "core_ws/src/h12_ros2_controller"]
	path = core_ws/src/h12_ros2_controller
	url = git@github.com:correlllab/h12_ros2_controller.git
	branch = main
[submodule "core_ws/src/h12_ros2_model"]
	path = core_ws/src/h12_ros2_model
	url = git@github.com:correlllab/h12_ros2_model.git
	branch = unified_sim
[submodule "core_ws/src/h12_safety_layer"]
	path = core_ws/src/h12_safety_layer
	url = git@github.com:correlllab/h12_safety_layer.git
	branch = main
[submodule "core_ws/src/custom_ros_messages"]
	path = core_ws/src/custom_ros_messages
	url = git@github.com:correlllab/custom_ros_messages.git
	branch = main
[submodule "core_ws/src/magpie_msgs"]
	path = core_ws/src/magpie_msgs
	url = git@github.com:correlllab/magpie_msgs.git
	branch = unified_sim
[submodule "core_ws/src/livox_ros_driver2"]
	path = core_ws/src/livox_ros_driver2
	url = git@github.com:Livox-SDK/livox_ros_driver2.git
[submodule "core_ws/src/unitree_ros2"]
	path = core_ws/src/unitree_ros2
	url = git@github.com:unitreerobotics/unitree_ros2.git
[submodule "CL_Assets"]
	path = CL_Assets
	url = git@github.com:correlllab/CL_Assets.git
[submodule "unitree_sdk2_python"]
	path = unitree_sdk2_python
	url = git@github.com:Oya-Tomo/unitree_sdk2_python.git
[submodule "core_ws/src/estop"]
	path = core_ws/src/estop
	url = git@github.com:correlllab/estop.git
[submodule "core_ws/src/cl_realsense"]
	path = core_ws/src/cl_realsense
	url = git@github.com:correlllab/cl_realsense.git
[submodule "core_ws/src/magpie_control"]
	path = core_ws/src/magpie_control
	url = git@github.com:correlllab/magpie_control.git
[submodule "mujoco_mpc"]
	path = mujoco_mpc
	url = git@github.com:badinkajink/mujoco_mpc.git
	branch = extended_hw_patched
